<script type="text/jsx">
  var SearchBox = React.createClass({
    getInitialState: function () {
      return {
        text: ''
      };
    },
    handleInputChange: function (event) {
      this.setState({
        text: event.target.value
      })
    },
    handleSearch: function () {
      $.ajax({
          url: '/locations',
          data: {query: this.state.text}
      }).then(function (result) {
        console.log(result);
        this.props.resolveSearchResult(result);
      }.bind(this));
    },
    render: function() {
      return <div className="col-md-6">
        <input type="text" className="form-control" value={this.state.text} onChange={this.handleInputChange}/>
        <button type="submit" className="btn btn-default" onClick={this.handleSearch}>Search Locations!</button>
      </div>;
    }
  });

  var LocationItem = React.createClass({

    render: function () {
      return <div>{this.props.data.search_str}</div>
    }
  });

  var App = React.createClass({
    getInitialState: function () {
      return {
        locations: []
      };
    },
    resolveSearchResult: function (locations) {
      this.setState({
        locations: locations
      });
    },

    render: function () {
      return <div>
        <div className="row">
          <div className="col-md-8">
            <h1>Welcome to signup for your store locations!</h1>
            <SearchBox resolveSearchResult={this.resolveSearchResult} />
          </div>
        </div>
        <div className="row">
          <div className="col-md-8">
            {this.state.locations.map(function (location) {
              return <LocationItem key={location.id} data={location} />;
            })}
          </div>
        </div>
      </div>;
    }
  });

  ReactDOM.render(
    <App />,
    document.getElementById('container')
  );
</script>
<div id="container"></div>
